Flask-WTF==0.9.5
Jinja2==2.7.2
MarkupSafe==0.19
Pillow==2.4.0
ProxyTypes==0.9
WTForms==1.0.5
Werkzeug==0.9.4
argparse==1.2.1
elasticsearch==1.0.0
itsdangerous==0.24
pycountry==1.6
python-loaders==0.2.3
requests==2.3.0
urllib3==1.8.2
wsgiref==0.1.2