{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>The idea</h1>
    <p>KnowFashion came about from a <span style="color: #9F81F7;">personal need </span> of mine. Ever since I got interested in the
        <a href="http://www.fairtrade.org.uk/"><span style="color: #9F81F7;">FairTrade</span></a>
        movement I have been paying more and more attention to <span style="color: #9F81F7;">where the things</span> I buy
        <span style="color: #9F81F7;">come from</span>.
    This spans all manner of items in my life, <span style="color: #9F81F7;">from food to technology</span>.
        <span style="color: #9F81F7;">Clothing</span> is just one such vein, but it happens
    to be a vein I am <span style="color: #9F81F7;">particularly interested</span> in.</p>
    <p>I buy pretty much <span style="color: #9F81F7;">90%</span> of my clothes <span style="color: #9F81F7;">online</span>, and I am sure I am not alone.
        If I stick to <span style="color: #9F81F7;">FairTrade</span> brands like
        <a href="http://www.peopletree.co.uk/">People Tree</a>
    or <a href="http://www.komodo.co.uk/">Komodo</a>,
        then I have no qualms about the origin of my clothes. However, this <span style="color: #9F81F7;">limits my choice</span>
        of styles severely, so I sometimes
    stray into the world of <span style="color: #9F81F7;">high street fashion</span>. And this is where my <span style="color: #9F81F7;">problems</span> start.</p>
    <p>I am very much <span style="color: #9F81F7;">opposed to buying</span> products <span style="color: #9F81F7;">made in China or South-East Asia</span>.
        The <a href="http://www.chinalaborwatch.org/"><span style="color: #9F81F7;">work conditions</span></a>
        and <span style="color: #9F81F7;">employer ethics</span> there are simply
    <span style="color: #9F81F7;">not just</span> in my mind. However, <span style="color: #9F81F7;">when shopping online at high street retailers</span>,
        I have no way of knowing where the clothes
    are made. That information is not included anywhere, even in the More Info tab. My <span style="color: #9F81F7;">only option</span> is to buy the product
    and <span style="color: #9F81F7;">check for myself</span> and then return it if I'm not happy. Or...</p>
    <p>I could try and create a place where someone who has already bought the product could share this information. And this
    is where KnowFashion comes. I am trying to create <span style="color: #9F81F7;">a place where people will want to share the origin of their clothing</span>.
    I am not being political or passing judgements. I just want this information to be easily accessible online and currently it isn't.</p>

    <h1>The technology</h1>
    <p>All the code for KnowFashion is <a href="http://opensource.org/licenses/BSD-3-Clause">Open Source</a>
        and can be found on <a href="https://github.com/Nimphal/KnowFashion">GitHub.</a>
        If you try to use it to run your own instance
    and it doesn't quite work, please drop me an email. I am new to this type of thing and it is very possible I forgot something.</p>
    <p>The data from KnowFashion will also be open as per the <a href="http://opendefinition.org/">Open Definition</a>.
        Instructions about how to access it coming shortly.</p>
</div>

{% endblock %}