<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data" role="form">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group input-lg">
                        {{form.brand(class="form-control", placeholder="Brand")}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group input-lg">
                        {{form.clothing_type(class="form-control")}}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group input-lg">
                         {{form.colour(class="form-control")}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group input-lg">
                         {{form.country(class="form-control")}}
                     </div>
                </div>

                 <div class="col-sm-2">
                     <div class="form-group input-lg">
                         <button id="go" type="submit" class="btn btn-default btn-lg btn-block">Go!</button>
                     </div>
                </div>
            </div>
        </div>
</form>
<div><br></div>
<div id="image" class="">

</div>


<script src="{{url_for('static', filename='browse.js')}}"></script>

{% endblock %}
