
{% extends "base.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data" role="form">
    <div class="container">
    {{ form.csrf_token() }}

        <div class="row">
            <div class="col-sm-4 col-md-offset-2"><a href="#" id="i_link" style="color: #9F81F7; font-size: 20px;"><span class="glyphicon glyphicon-chevron-right">

            </span>Important info (all fields <strong>required</strong>)</a></div>
        </div>
        <div id="important">
            <div class="row">
                <div class="col-sm-4 col-md-offset-2">
                    <div class="form-group input-lg">
                        <div class="input-group">
                        {{form.brand(class="form-control", placeholder="Brand")}}
                        <span id="brand_tool" class="input-group-addon glyphicon glyphicon-question-sign" style="top: 0; background-color: white;"></span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="form-group input-lg">
                        <div class="input-group">
                        {{form.clothing_type(class="form-control", placeholder="Clothing type")}}
                        <span id="clothing_type_tool" class="input-group-addon glyphicon glyphicon-question-sign" style="top: 0; background-color: white;"></span>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                 <div class="col-sm-4 col-md-offset-2">
                    <div class="form-group input-lg">
                         <div class="input-group">
                         {{form.country(class="form-control", placeholder="Country")}}
                        <span id="country_tool" class="input-group-addon glyphicon glyphicon-question-sign" style="top: 0; background-color: white;"></span>
                        </div>
                    </div>
                 </div>
                <div class="col-sm-4">
                    <div class="form-group input-lg">
                        <div class="input-group">
                         {{form.colour(class="form-control", placeholder="Colour")}}
                        <span id="colour_tool" class="input-group-addon glyphicon glyphicon-question-sign" style="top: 0; background-color: white;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                 <div class="col-sm-8 col-md-offset-2">
                    <div class="form-group input-lg">
                        <div class="input-group">
                        {{form.upload_url(class="form-control", placeholder="Link")}}
                        <span id="link_tool" class="input-group-addon glyphicon glyphicon-question-sign" style="top: 0; background-color: white;"></span>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="row">
                 <div class="col-sm-3 col-md-offset-2">
                    <div class="form-group input-lg">
                        Upload a picture:

                        <input type="file" name="upload" id="take-picture" accept="image/*;capture=camera" data-toggle="tooltip" data-placement="top" title="Snap a new photo or upload an old one">


                    </div>
                 </div>
                 <div class="col-sm-2">
                     <div class="form-group input-lg">
                         <br>
                         <div class="input-group">
                         <button type="submit" id="google" class="btn btn-default btn-md" data-toggle="tooltip" data-placement="top" title="Use the info you entered in the form to perform a Google search">Try Google</button>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-2">
                     <div class="form-group input-lg">
                         <br>
                         <div class="input-group">
                         <button type="submit" id="link" class="btn btn-default btn-md" data-toggle="tooltip" data-placement="top" title="Share a link to a picture on the web">Link to picture</button>
                         </div>
                     </div>
                 </div>
            </div>
            <br>
            <div class="row">
                <div cladd="col-sm-10 col-md-offset-2">
                    <div id="images">

                    </div>
                </div>

            </div>
            <br>
            <div class="row" id="preview">
                <div class="col-sm-8 col-md-offset-3">
                    <img style="width: 200px;" src="about:blank" alt="" id="show-picture">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 col-md-offset-2"><a href="#" id="p_link" style="color: #9F81F7; font-size: 20px;"><span class="glyphicon glyphicon-chevron-right"></span>Purchase information</a></div>

        </div>
        <br>
        <div id="purchase">
            <div class="row">
                <div class="col-sm-8 col-md-offset-2">
                        <div class="form-group input-lg">
                            <div class="input-group">
                            {{form.store(class="form-control", placeholder="Store")}}
                            <span id="store_tool" class="input-group-addon glyphicon glyphicon-question-sign" style="top: 0; background-color: white;"></span>
                            </div>
                        </div>
                </div>
            </div>

            <br>
            <div class="row">
                 <div class="col-sm-4 col-md-offset-2">
                    <div class="form-group input-lg">
                        <div class="input-group">
                        {{form.price(class="form-control", placeholder="Price")}}
                        <span id="price_tool" class="input-group-addon glyphicon glyphicon-question-sign" style="top: 0; background-color: white;"></span>
                        </div>
                    </div>
                 </div>
                 <div class="col-sm-4">
                     <div class="form-group input-lg">
                        <div class="input-group">
                        {{form.currency(class="form-control", placeholder="Currency")}}
                         <span id="currency_tool" class="input-group-addon glyphicon glyphicon-question-sign" style="top: 0; background-color: white;"></span>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
        <br>

        <div class="row">
             <div class="col-sm-8 col-md-offset-2">
                 <div class="form-group input-lg">
                     <button type="submit" class="btn btn-default btn-lg btn-block">Submit</button>
                 </div>
             </div>
        <br>
        </div>
    </div>
</form>
<script src="{{url_for('static', filename='submit.js')}}"></script>
{% endblock %}
